.FORGET-PASSWORD{
    background: linear-gradient(#141e30, #243b55);
}
.forget-password{
    height: 100vh;
}
.forget-password-page{
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 35px;
    color: white;
    min-width: 340px;
    padding:20px 40px 20px 40px ;

}
.forget-password-page form .input-group{
    border-bottom: 2px solid white;
    position: relative;
    transition-duration: 0.3s;
    
}
.forget-password-page form .first-input-group{
    margin-bottom: 28px !important;
}
.forget-password-page form .input-group label {
    position: absolute;
    top: -6px;
    left: 5px;
    transition-duration: 0.3s;
}

.forget-password-page form .input-group input {
    padding-left: 6px;
    color: white;
    outline: none;
    background: transparent;
}
  
.forget-password-page form .input-group input:focus ~ label,
.forget-password-page form .input-group input:not(:placeholder-shown) ~ label  {
    color: aqua;
    top: -20px;
    font-size: 15px;

}

.forget-password-page form .input-group:focus-within{
    border-bottom-color: aqua ;
}
.toggle{
    font-size: 15px;
}
  
.reset-btn button {
    --primary-color: #141e30;
    --secondary-color: #fff;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 9px 25px;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
    width: 100%;
    justify-content: center !important;
  }
  
  .reset-btn button .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .reset-btn button .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
  }
  
  .reset-btn button .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
  }
  
  .reset-btn button:hover {
    background-color: var(--hover-color);
  }
  
  .reset-btn button:hover .arrow {
    background: var(--secondary-color);
  }
  
  .reset-btn button:hover .arrow:before {
    right: 0;
  }
    
